@mixin icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@mixin mainIcon {
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

@mixin logo {
  display: block;

  margin-right: 1rem;

  border-radius: 8px;
  transform: rotate(45deg);
  border: none;

  width: 3rem;
  height: 3rem;

  color: #fff;
  font-size: 2rem;
  text-align: center;

  cursor: pointer;
  position: relative;
}

// 1200px / 16 = 75 to get ems
// media queries manager
/*
0-600px phone
600-900px tablet prtrait
900-1200px tablet landscape
1200-1800px normal styles
1800px+ big desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 40.625em) {
      //650px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 47.5em) {
      //760px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 62.5em) {
      //1000px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px+
      @content;
    }
  }
}
