@mixin icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@mixin logo {
  display: block;

  margin-right: 1rem;

  border-radius: 8px;
  transform: rotate(45deg);
  border: none;

  width: 3rem;
  height: 3rem;

  color: #fff;
  font-size: 2rem;
  text-align: center;

  cursor: pointer;
  position: relative;
}
