*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  max-height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); }

.header__icon {
  background-image: linear-gradient(to bottom, #67fada, #00d1a4);
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  bottom: 1rem; }

.header__icon-2-symbol {
  transform: rotate(-45deg); }

.header__icon-1-symbol {
  transform: rotate(-45deg); }

.header__icon-3-symbol {
  transform: rotate(-45deg); }

.header__icon-4-symbol {
  transform: rotate(-45deg); }

.header__icon-2 {
  background-image: linear-gradient(to bottom, #fca38d, #fd4c1f);
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  bottom: 1rem; }

.header__icon-3 {
  background-image: linear-gradient(to bottom, #757eff, #1927e7);
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  bottom: 1rem; }

.header__icon-4 {
  background-image: linear-gradient(to bottom, #8dfc9c, #04d171);
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  bottom: 1rem; }

.header__stock-news-grid-logo-twtr {
  display: block;
  margin-right: 1rem;
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #0044ff; }

.header__stock-news-grid-logo-twtr::after {
  content: "T";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.header__stock-news-grid-logo-ford {
  display: block;
  margin-right: 1rem;
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #ff3300; }

.header__stock-news-grid-logo-ford::after {
  content: "F";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.header__stock-news-grid-logo-tsla {
  display: block;
  margin-right: 1rem;
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #00ff88; }

.header__stock-news-grid-logo-tsla::after {
  content: "T";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.header__stock-news-grid-logo-amzn {
  display: block;
  margin-right: 1rem;
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #00d9ff; }

.header__stock-news-grid-logo-amzn::after {
  content: "A";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.header__stock-news-grid-logo-snap {
  display: block;
  margin-right: 1rem;
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #f5f100; }

.header__stock-news-grid-logo-snap::after {
  content: "S";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.header__stock-news-grid-logo-btc {
  display: block;
  margin-right: 1rem;
  border-radius: 8px;
  transform: rotate(45deg);
  border: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: #201f20; }

.header__stock-news-grid-logo-btc::after {
  content: "B";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.navbar {
  background-color: #e1e9f7;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .navbar__img {
    background-image: url("./img/stock.svg");
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 0.5rem; }
  .navbar__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    position: relative;
    text-decoration: none;
    color: black; }
  .navbar__effect {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    background-color: #3e80fa;
    transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar__icon:hover > .navbar__effect {
    opacity: 1;
    width: 100%;
    height: 100%; }
  .navbar__icon:hover > .navbar__label {
    color: white; }
  .navbar__label {
    margin-left: 1.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #777;
    transition: 0.7s;
    position: relative;
    z-index: 250; }
  .navbar__container {
    text-align: center; }
    .navbar__container-heading {
      font-size: 2.5rem;
      color: black;
      letter-spacing: 2px;
      font-weight: 400; }
    .navbar__container-item {
      color: grey;
      font-size: 1.2rem;
      width: 100%; }

.c {
  color: #0044ff; }

.main-body {
  background-color: #fbfbff;
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }

.active {
  color: #0056d6; }

.header {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }
  .header__stock-news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 1rem;
    margin-bottom: 5rem; }
    .header__stock-news-grid-title {
      font-size: 1.4rem;
      color: black;
      font-weight: 400; }
    .header__stock-news-grid-name {
      font-size: 1rem;
      color: grey;
      font-weight: 300; }
    .header__stock-news-grid-news {
      margin-left: auto;
      font-size: 1.2rem;
      font-weight: 300;
      color: #3173d4;
      transition: 0.2s;
      border: none;
      background-color: transparent;
      cursor: pointer;
      text-decoration: underline;
      outline: none; }
    .header__stock-news-grid-news:hover {
      color: #002050; }
    .header__stock-news-grid-container {
      display: flex;
      margin-top: 2rem;
      align-items: center;
      padding-right: 2rem; }
    .header__stock-news-grid-col {
      display: flex;
      flex-direction: column; }
  .header__flex-col {
    display: flex;
    flex-direction: column; }
  .header__grid-title {
    font-size: 1.2rem;
    font-style: italic; }
  .header__grid-price {
    font-size: 1rem;
    color: #747373; }
  .header__flex-row {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0; }
  .header__stats {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center; }
  .header__stock-news-word {
    position: absolute;
    font-size: 1rem;
    left: 13%;
    top: 40%;
    transform: translateY(-50%) rotate(-35deg); }
  .header__stock-news {
    position: absolute;
    left: 0;
    top: 0;
    width: 7rem;
    height: 5rem;
    display: flex;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    text-decoration: none;
    background-color: rgba(21, 34, 39, 0.8);
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 4px; }
  .header__stock-title {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left: 20%; }
  .header__stock-price {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #1ed88b; }
  .header__stock-hold {
    display: flex;
    flex-direction: column; }
  .header__stock-row {
    display: flex; }
  .header__stock {
    width: 25rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1.8rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    padding: 1rem;
    cursor: pointer; }
  .header__stock-hover {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    clip-path: polygon(29% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 34%); }
  .header__news-title {
    font-size: 2.3rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .header__title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: black; }
  .header__p {
    color: #777;
    font-size: 1.3rem;
    margin-bottom: 2rem; }

.btn-fixed {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background-color: #3173d4;
  border-radius: 15px;
  transform: rotate(45deg);
  border: none;
  width: 6rem;
  height: 6rem;
  z-index: 100;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none; }

.btn-fixed::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg); }

.main-right {
  background-color: #f2f4f8;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem; }
  .main-right__info {
    margin-top: auto;
    width: 100%;
    height: 40%; }
    .main-right__info-name {
      margin-bottom: 1rem; }
  .main-right__text {
    color: #777;
    font-size: 1.3rem;
    font-weight: 300; }
  .main-right-chart {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60%; }
  .main-right__logo {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
    padding: 3rem;
    background-image: linear-gradient(to bottom, #88ff88, #16f36b);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0; }
  .main-right__stock {
    width: 28rem;
    height: 35rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: -2rem;
    right: -3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column; }
  .main-right__name {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem; }
  .main-right__price {
    font-size: 1.8rem;
    color: #272727;
    letter-spacing: 2px; }
  .main-right__percentage {
    color: #777;
    font-size: 1rem; }
  .main-right__days {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    margin-top: auto;
    color: #777;
    font-size: 1.2rem;
    position: relative;
    z-index: 10; }
  .main-right__times {
    cursor: pointer; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-110%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.news {
  width: 100%;
  display: flex;
  margin: 1rem auto;
  background-image: linear-gradient(to right bottom, #525252, #202020);
  border-radius: 4px; }
  .news-popup {
    animation: fade-in 0.4s;
    width: 95vw;
    height: 95vh;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 300;
    outline: none;
    overflow-y: scroll;
    padding: 3rem; }
  .news-close {
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #3a3a3a;
    background-color: transparent;
    border: none;
    font-weight: 400;
    cursor: pointer;
    outline: transparent; }
  .news-popup-false {
    display: none; }
  .news__img {
    height: 100%;
    width: 30%;
    object-fit: cover;
    border-radius: 4px; }
  .news__title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400; }
  .news__info {
    font-size: 1.2rem;
    color: #dbdbdb;
    font-weight: 300; }
  .news__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem; }

.stock-updates {
  width: 60%;
  display: flex;
  margin: 2.5rem auto;
  background-image: linear-gradient(to right bottom, #525252, #202020);
  border-radius: 4px;
  animation: slide-in 1.3s;
  animation-delay: 0.5;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .stock-updates__img {
    width: 40%;
    object-fit: cover;
    border-radius: 4px; }
  .stock-updates__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem; }

.login {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__svg {
    background-color: #fff;
    margin-right: 1rem;
    -webkit-mask-image: url("./img/stock.svg");
    mask-image: url("./img/stock.svg");
    width: 2.5rem;
    height: 2.5rem;
    mask-size: cover;
    margin-bottom: 0.5rem; }
  .login__title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  background-image: linear-gradient(to bottom, #673ab7, #512da8);
  border-radius: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem; }
  .container__guest {
    border: none;
    background-color: transparent;
    margin-left: 1rem;
    color: black;
    cursor: pointer;
    transition: 0.3s; }
  .container__guest:hover {
    color: white; }
  .container__title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem; }
  .container__text {
    text-align: center;
    color: #b6b6b6;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase; }
  .container__input-container {
    align-self: start;
    width: 100%;
    margin-bottom: 1.5rem; }
  .container__input-title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.2rem; }
  .container__input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #cac9c9;
    border-radius: 4px;
    padding: 1rem;
    outline: none;
    transition: all 0.3s;
    caret-color: #fff; }
  .container__input:focus {
    border-color: white; }
  .container__input::placeholder {
    color: #b6b6b6; }
  .container__btn {
    width: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.9), rgba(216, 216, 216, 0.9));
    padding: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #2b2b2b;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s; }
  .container__btn:hover {
    background-color: #2c2c2c; }
  .container__registration {
    color: #cac9c9;
    font-size: 1.2rem;
    margin-bottom: 0.5rem; }
  .container__register {
    color: black;
    font-weight: 400;
    font-size: 1.4rem; }
