.main-body {
  background-color: rgb(251, 251, 255);
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas: "nav header right";
  grid-template-columns: 1fr 2fr 1fr;

  @include respond(tab-port) {
    width: 100vw;
    height: 100vh;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "right"
      "header";
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }
}

.active {
  color: rgb(0, 86, 214);
}

.header {
  margin: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-area: header;

  @include respond(phone) {
    overflow: inherit;
  }

  &__stock-news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 1rem;
    margin-bottom: 5rem;

    @include respond(tab-land) {
      grid-template-columns: 1fr;
    }
    @include respond(phone) {
      grid-gap: 2rem;
    }

    &-title {
      font-size: 1.4rem;
      color: black;
      font-weight: 400;
    }

    &-name {
      font-size: 1rem;
      color: grey;
      font-weight: 300;
    }

    &-news {
      margin-left: auto;
      font-size: 1.2rem;

      font-weight: 300;
      color: rgb(49, 115, 212);
      transition: 0.2s;
      border: none;
      background-color: transparent;
      cursor: pointer;
      text-decoration: underline;
      outline: none;
    }

    &-news:hover {
      color: rgb(0, 32, 80);
    }

    &-container {
      display: flex;
      margin-top: 2rem;
      align-items: center;
      padding-right: 2rem;
    }

    &-col {
      display: flex;
      flex-direction: column;
    }
  }

  &__flex-col {
    display: flex;
    flex-direction: column;
  }

  &__grid-title {
    font-size: 1.2rem;
    font-style: italic;
  }

  &__grid-price {
    font-size: 1rem;
    color: rgb(116, 115, 115);
  }

  &__flex-row {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
  }

  &__stats {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }

  &__stock-news-word {
    position: absolute;
    font-size: 1rem;
    left: 13%;
    top: 40%;
    transform: translateY(-50%) rotate(-35deg);
  }

  &__stock-news {
    position: absolute;
    left: 0;
    top: 0;
    width: 7rem;
    height: 5rem;
    display: flex;

    clip-path: polygon(0 0, 0 100%, 100% 0);

    text-decoration: none;
    background-color: rgba(21, 34, 39, 0.8);
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
  }

  &__stock-title {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left: 20%;
  }

  &__stock-price {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: rgb(30, 216, 139);
  }

  &__stock-hold {
    display: flex;
    flex-direction: column;
  }

  &__stock-row {
    display: flex;

    @include respond(tab-land) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &__stock {
    width: 25rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1.8rem;
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }

  &__stock-hover {
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    clip-path: polygon(29% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 34%);
    transition: all 0.3s;
  }

  &__stock-hover:hover {
    background-color: rgba(0, 153, 255, 0.2);
  }

  &__news-title {
    font-size: 2.3rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
  }

  &__p {
    color: #777;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}

.btn-fixed {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background-color: rgb(49, 115, 212);

  border-radius: 15px;
  transform: rotate(45deg);
  border: none;

  width: 6rem;
  height: 6rem;
  z-index: 100;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  box-shadow: 1rem 1rem 2rem rgba(black, 0.3);
  cursor: pointer;
  outline: none;

  @include respond(phone) {
    display: none;
  }
}

.btn-fixed-phone {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(49, 115, 212);

  border-radius: 15px;
  transform: rotate(45deg);
  border: none;

  width: 6rem;
  height: 6rem;
  z-index: 100;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  box-shadow: 1rem 1rem 2rem rgba(black, 0.2);
  cursor: pointer;
  outline: none;
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.btn-fixed-phone::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-fixed::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  transform: translate(-50%, -50%) rotate(-45deg);
}
