.crypto {
  &__container {
    width: 80%;

    background-color: rgb(39, 39, 39);
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    margin-top: 2rem;
    color: #fff;
  }

  &__stats {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem;
  }

  &__symbol-1 {
    @include mainIcon;
    background-color: rgb(27, 96, 245);
  }

  &__symbol-2 {
    @include mainIcon;
    background-color: rgb(245, 71, 27);
  }

  &__symbol-3 {
    @include mainIcon;
    background-color: rgb(0, 226, 177);
  }

  &__symbol-4 {
    @include mainIcon;
    background-color: rgb(92, 27, 245);
  }

  &__symbol-ltr {
    transform: rotate(-45deg);
  }

  &__percentage {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: rgb(14, 218, 133);
    font-size: 1.3rem;
  }

  &__grid {
    align-self: center;
    width: 100%;
    margin-bottom: 4rem;
    font-size: 1.2rem;
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

  &__name {
    position: absolute;
    left: 5rem;
    bottom: 1rem;
    font-size: 1.5rem;
  }

  &__center {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    position: absolute;
  }

  &__title {
    font-style: italic;
    font-size: 1.3rem;
  }

  &__right-title {
    font-size: 1.8rem;
    color: grey;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__right-text {
    line-height: 1.5;
    font-size: 1.3rem;
  }
}

.special {
  background-color: rgb(172, 172, 172);
  cursor: pointer;
}
