.navbar {
  background-color: rgb(225, 233, 247);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__img {
    background-image: url("./img/stock.svg");
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    position: relative;
    text-decoration: none;
    color: black;
  }

  &__effect {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 1rem;
    height: 1rem;
    opacity: 0;

    background-color: rgb(23, 104, 255);
    transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__icon:hover > &__effect {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &__icon:hover > &__label {
    color: white;
  }

  &__label {
    margin-left: 1.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #777;
    transition: 0.7s;
    position: relative;
    z-index: 250;
  }

  &__container {
    text-align: center;

    &-heading {
      font-size: 2.5rem;
      color: black;
      letter-spacing: 2px;
      font-weight: 400;
    }

    &-item {
      color: grey;
      font-size: 1.2rem;
      width: 100%;
    }
  }
}

.c {
  color: rgb(0, 68, 255);
}
