.main-right {
  background-color: rgb(242, 244, 248);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  &__info {
    margin-top: auto;

    width: 100%;
    height: 40%;

    &-name {
      margin-bottom: 1rem;
    }
  }

  &__text {
    color: #777;
    font-size: 1.3rem;
    font-weight: 300;
  }

  &-chart {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60%;
  }

  &__logo {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
    padding: 3rem;
    background-image: linear-gradient(
      to bottom,
      rgb(136, 255, 136),
      rgb(22, 243, 107)
    );
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__stock {
    width: 28rem;
    height: 35rem;
    background-color: rgba(#fff, 0.9);
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    border-radius: 8px;
    position: absolute;
    top: -2rem;
    right: -3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__price {
    font-size: 1.8rem;
    color: rgb(39, 39, 39);
    letter-spacing: 2px;
  }

  &__percentage {
    color: #777;
    font-size: 1rem;
  }

  &__days {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    margin-top: auto;
    color: #777;
    font-size: 1.2rem;
    position: relative;
    z-index: 10;
  }

  &__times {
    cursor: pointer;
  }
}
